# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environnement
.env

# Logs et données
logs/*.log
schemas/*.json
*.wav
*.raw

# Modèles (trop volumineux)
models/*.onnx
models/*.onnx.json

# Tests SIPp
sipp_*.csv
sipp_*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
